<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:*.properties</value>
			</list>
		</property>
	</bean>

	<bean id="redisProxy" class="com.renren.cluster.client.redis.RedisClusterPoolClient"
		init-method="init">
		<constructor-arg index="0" value="${clusterName}" />
		<constructor-arg index="1" value="${redis.zkhosts}" />
	</bean>

	<bean id="cacheService" class="com.renren.captcha.cache.RedisCacheService">
		<property name="redisProxy" ref="redisProxy"></property>
	</bean>

	<bean id="captchaManager" class="com.renren.captcha.manager.CaptchaManagerImpl">
		<property name="cacheService" ref="cacheService"></property>
	</bean>
</beans>